@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* form */
.weather-input input {
  height: 2rem;
  width:17rem;
  outline: none;
  font-size: 1.07rem;
  padding: 0 15px;
  margin: 1rem 2rem .5rem 2.5rem;
  border-radius: 4px;
  border: 3px solid #0e0d0d;
}

/* seperator b/w buttons */
.weather-input .separator {
  height: 1px;
  width: 70%;
  margin: 25px 0 0 2.7rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* city Name header */
.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
/* temp,wind,humidity */
.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
/* img & description */
.current-weather .icon {
  gap: 2px;
  margin-left: 17rem;
  margin-bottom: 1rem;
}
.current-weather .icon h5{
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
 
/* weather cards */
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  background: #3a0a52;
  border-radius: 5px;
}
/* dates for the cards */
.weather-cards .card h3 {
  font-size: 1rem;
  font-weight: 500;
}

/* temp,wind,humidity of cards */
.weather-cards .card h6 { 
  margin-top: 10px;
}
/* weather cards img */
.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

/* media quieres for responsiveness */


@media screen and (max-width:770px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:scroll;
  }
  .weather-data{
    position: relative;
    height: 280px;
    left: 0%;
    margin-left: 0;
    overflow-y: hidden;
    border-radius: 1rem;

  }
  .current-weather{
    margin: 1rem 0;
    overflow-y: hidden;
  }
  .weather-input{
    position: relative;
    left: 0%;
  }
  .section1{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y:scroll;
    position: relative;
    left: 0%;
  }
  .days-forecast{
    width: 768px;
    height: 900px;
    overflow-y:scroll;
    position: relative;
    left: 0%;
    margin:0;
  }
  .cmpt-body{
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
  }
  .weather-cards{
    height: 600px;
    width: 100%;
    overflow-y:scroll;
    margin: 2rem 2rem 2rem 0;
    padding: .2rem;
  }

}
@media screen and (max-width:375px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:scroll;
  }
  .weather-data{
    position: relative;
    height: 600px;
    left: 0%;
    margin-left: 0;
    overflow-y: hidden;
    border-radius: 1rem;

  }
  .details {
    height: 200px;
  }
  .current-weather{
    margin: 1rem 0;
    overflow-y: hidden;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .icon {
    height: 200px;
    width: 200px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon img {
    height: 100px;
    width: 100px;
    margin: 0;
  }
  .weather-input{
    height: 700px;
    position: relative;
    left: 0%;
  }
  .section1{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y:scroll;
    position: relative;
    left: 0%;
  }
  .days-forecast{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 375px;
    height: 1500px;
    overflow-y:scroll;
    position: relative;
    left: 0%;
    margin:0;
    gap: 0;
  }
  .days-forecast h2{
    margin: 0;
    margin-top: 1rem;
  }
  .cmpt-body{
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
  }
  .weather-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px;
    width: 375px;
    overflow-y:scroll;
    margin:0;
    padding: .2rem;
    margin-top: 0;
  }
  .card{
    width: 150px;
    height: 220px;
    padding: 10px;
  }

}