@tailwind base;
@tailwind components;
@tailwind utilities;


/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.weather-input input {
  height: 2rem;
  width:15rem;
  outline: none;
  font-size: 1.07rem;
  padding: 0 15px;
  margin: 1rem 2rem .5rem 2.5rem;
  border-radius: 4px;
  border: 3px solid #0e0d0d;
}

.weather-input .separator {
  height: 1px;
  width: 70%;
  margin: 25px 0 0 2.7rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
  gap: 2px;
}
.current-weather .icon img {
  max-width: 140px;
  margin-left: 190%;
  margin-bottom: 1px;
}
.current-weather .icon h6 {
  margin-top: 1px;
  font-size: 20px;
  margin-left: 210%;
  
  
}

.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #3a0a52;
  border-radius: 5px;
}
.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .details{
    margin-right: 40em;
  }
  .weather-input {
    width: 20%;
  }
  .weather-data h2 {
    font-size: 1.35rem;
  }
}

